.header {
    background-color: blueviolet;
    color: white;
    font-size: 32px;
    font-weight: bold;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}


.default {
    background-color: cyan;
    color: white;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}

.picCenter {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}